<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Maximum Burgers</title>
    <meta charset="utf-8"/>
    <script src="js/menu.js" defer></script>
    <script src="js/js_script.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="js/vue_script.js" defer></script>
  </head>
  <body> 
    <header id="header">
      <h1>Welcom to Maximum Borgars!</h1>
      <img src="img/logo-max.svg" alt="This is our logo" title="MAXimum burgers">
    </header>

    <main id="vue">
      <section id="borgar">
        <h2>Burgers here:</h2>
        <p>Here go burgers. You pick one.</p>

        <div id="borgar-wrapper">
          <div v-for="burger in burgers">
            <h1>{{ burger.name }}</h1>
            <input type="checkbox" v-model='burger.selected'/>
            <div class="box image-div">
              <img v-bind:src="burger.img" width=300>
            </div>

            <dl class="box image-div">
              <dt>Calories</dt>
              <dd>{{ burger.calories }} kcal</dd>
              <dt>Content</dt>
              <dd>{{ burger.contents.join(', ').replace(/^\w/, c => c.toUpperCase()) }}.</dd>
              <dt v-if="burger.allergy.length > 0">Allergy</dt>
              <dd v-if="burger.allergy.length > 0">
                {{ burger.allergy.join(', ').replace(/^\w/, c => c.toUpperCase()) }}.
              </dd>
            </dl>
          </div>
        </div>
      </section>

      <section id="secrets">
        <h2>Secrets here:</h2>
        <p>Here you tell us your information. We don't sell it.</p>

        <form autocomplete="on">
          <div v-for="field in secrets">
            <div v-if="field.show">
              <label :id='field.name' :for='field.name'> {{ field.text }} </label><br>
              <div v-for="input in field.inputs">
              <input
                v-model='field.result'
                :class='field.name'
                :value='input.value'
                :placeholder='input.placeholder'
                :required='field.required'
                :checked='input.checked'
                :type='input.type'
                :name='field.name'
                :autocomplete="input.autocomplete"
                />{{ input.text }}<br> 
              </div>
            </div>
            <div v-else>
              <input
                v-model='field.result'
                :name='field.name'
                :autocomplete="field.autocomplete"
                style="display: none"
                />
            </div>
          </div>

          <label for="method">Payment Method</label><br>
          <select v-model="payment" class="payment" id="method" name="method">
            <option>Card</option>
            <option>Swish</option>
            <option>Cash</option>
            <option selected>FooCash&trade;</option>
          </select>

          <div class="view-box">
            <div id="dots" v-on:click="displayOrder">
              <div v-if="orderData.target.pressed"
                   v-bind:style="{ left: orderData.target.x + 'px', top: orderData.target.y + 'px'}">
                T
              </div>
            </div>
          </div>

        </form>
        <input v-on:click="order" id="order" type="button" value="Send" class="button"/>
      </section>
    </main>
    <footer>
      &copy; Copyright yes
    </footer>

  </body>
</html>
