<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Maximum Burgers</title>
        <meta charset="utf-8"/>
    </head>
    <body> 
      <main>
        <h1>Welcom to Maximum Borgars!</h1>
        <section>
          <h2>Burgers here:</h2>
          <p>Here go burgers. You pick one.</p>
          <section>
            <h2>Halloumiburger</h2>
            <img src="img/product_halloumiburger.jpg" alt="Delicious burger" title="Halloumiburger" width="100">
          </section>
          <section>
            <h2>Smokey Chipotle Halloumiburger</h2>
            <img src="img/product_smokey-chipotle-halloumi.jpg" alt="Delicious burger" title="Smokey Chipotle Halloumiburger" width="100">
          </section>
          <section>
            <h2>Umami Halloumiburger</h2>
            <img src="img/product_umami-halloumi.jpg" alt="Delicious burger" title="Umami Halloumiburger" width="100">
          </section>
        </section>
        <section>
          <h2>Secrets here:</h2>
          <p>Here you tell us your information. We don't sell it.</p>
        </section>
      </main>
      <footer>
        &copy; Copyright yes
      </footer>
    </body>
</html>
