
#header {
  margin: 2%;
  height: 5em;
  overflow: hidden;
  border: 1px solid;
  text-align: center;
}

#header h1 {
  position: absolute;
  left: 30%;
  z-index: 10;
}

#header img {
  opacity: .8;
  width: 20%;
  height: auto;
}

.button:hover {
  background-color: lightsteelblue;
  border-color: lightsteelblue;
  cursor: pointer; 
}

.button {
  margin: 5px;
}

#borgar-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33% 33% 33%;
}

.box {
  padding: 20px;
  border: 1px solid;
}

.A {
  grid-column: 1;
}

.B {
  grid-column: 2;
}

.C {
  grid-column: 3;
}

.burger-div {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100%;
}

.image-div {
  grid-row: 2;
}

.image-div img {
  width: 100%;
}

.details-div {
  grid-row: 3;
}

body {
  font-family: arial;
  font-size: 1.4em;
}

.allergy {
  font-weight: bold;
}

section {
  margin: 2%;
  border: 1px dotted;
  padding: 2%;
}

#secrets {
  background-color: black;
  color: white;
}

#borgar {
}

footer {
  font-size: 0.7rem;
}

.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}

#orderList {
	top:1em;
	left:1em;
	position: absolute;
	z-index: 2;
	color:black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}
